.postList {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.postListGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}
.gridHeader {
	grid-column: 1 / -1;
}
