.btn {
	width: 240px;
	cursor: pointer;
	border-radius: 6px;
	padding: 0.5rem 1rem;
	font-weight: 500;
	transition: all 0.3s ease;
}

.btnAccept {
	background-color: var(--color-primary);
	color: var(--color-primary);
	border: none;
}
.btnDecline:hover {
	box-shadow: 0 4px 8px var(--cookie-btn-decline-box-shadow);
	transform: translateY(-2px);
	filter: brightness(1.05);
}

.btnAccept:hover {
	background-color: var(--cookie-btn-accept-bg);
	box-shadow: 0 4px 8px var(--cookie-btn-accept-box-shadow);
	transform: translateY(-2px);
	filter: brightness(1.05);
}
